body{
    background-color: rgb(204, 143, 229);
    
}
.titulo{
    font-family: unset;
font-size: 60px;
}

.titulo1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}